
    .dvz {
    width: auto;
    height: auto;
    font-size: 10px;
     text-align: center;
     float: left;
     display: inline-block;
     padding: 10px;
}

  .dvz2 {
    width: auto;
    height: auto;
    font-size: 10px;
     text-align: center;
     float: left;
     display: inline-block;
     padding: 10px;
}


