body{ font-size:12px; background:#fff; margin:0px; font-family: Arial, Helvetica, sans-serif;}
.ana{width:97%;max-width:1000px; margin:auto;}
.menu,.altMenu,th,td,h1,h2,h3{background:url(../img/h50bg.png);}

.menu{ background:#2a2; margin:0px; text-align:center; border-bottom:1px solid #000;border-top:1px solid #000;}
.menu ul,.menu ul li{ margin:0px; padding:0px; list-style:none;}
.menu ul li:first-child{ border-left:1px solid #000;}
.menu ul li{ display:inline-block;}
.menu ul li a{ text-decoration:none; font-weight:bold; color:#fff; display:block; height:30px; line-height:30px; padding:5px; border-right:1px solid #000;}
.menu ul li a:hover{ background-color:#6f6; color:#333;}
.menu div.sag a{ float:right; padding:5px; height:30px; line-height:30px; text-decoration:none; color:#fff;}
.menu div.sag a:hover{ color:#6f6;}


.sayfa,.altMenu{margin:auto; margin-top:1px; border-bottom:1px solid #000;}.altMenu{border-top:1px solid #000;}
.sayfa .baslik,.blok .baslik{ background-color:#2a2; border-bottom:1px solid #000;}
.sayfa .baslik h1,.blok .baslik h1,.sayfa .baslik h2,.blok .baslik h2,.sayfa .baslik h3,.blok .baslik h3{ margin:0px; padding:6px; color:#fff;}
.sayfa .icerik,.blok .icerik{ background-color:#6f6; padding:0px;}
.blok{ margin:10px; display:inline-block;border:1px solid #000; vertical-align:top;}
.ortala{ text-align:center;}

.altMenu{ background-color:#2a2;}
.altMenu a{ display:inline-block; padding:5px; text-decoration:none; color:#000;}
.altMenu a:hover{ background-color:#6f6; color:#fff}


table{ border-left:1px solid #000;border-top:1px solid #000; width:100%;}
th,td{ border-bottom:1px solid #000; border-right:1px solid #000; padding:3px;}
th{ background-color:#2a2; color:#000; font-size:10px;}
td{ background-color:#6f6; text-align:center;}
td a,.lnk{ text-decoration:none; font-weight:bold; color:#000;}
td a:hover,.lnk:hover,th a:hover{ color:#00f;}
th a{ text-decoration:underline; font-weight:bold; color:#fff;}

.onay,.uyari,.hata,.bilgi{ border:1px solid #090; color:#fff; margin-bottom:6px; padding:3px; border-radius:3px; font-size:14px;}
.onay{ background-color:#0F6; border:1px solid #090;}
.uyari{ background-color:#fc6; border:1px solid #f90;}
.hata{ background-color:#f66; border:1px solid #f00;}
.bilgi{ background-color:#0aF; border:1px solid #00f;}
.soru{ font-family:"Comic Sans MS", cursive; font-weight:bold; color:#000; cursor:help; background-color:#FFF; border-radius:3px; padding:0px 3px 0px 3px;}


.bykBtn{ min-width:100px; height:50px; line-height:50px; padding:3px; margin:2px; border:1px solid #2a2; display:inline-block; background-color:#6f6; text-decoration:none; font-weight:bold; text-align:center;font-family:Verdana, Geneva, sans-serif;}
.bykBtn:hover{ background-color:#4ad;}
.bykBtn:active{ background-color:#069;}
.ufakTxt{ width:40px; margin:0px; padding:2px; border:1px solid #777;}
.doksanTxt{ width:90%; margin:0px; padding:2px;}
.btn1,.btn2,.btn3{ margin:0px; padding:3px; background:#2a2 url(img/h30bg3.png); font-family:Verdana, Geneva, sans-serif; font-size:14px; text-decoration:none; color:#6f6; border:1px solid #000; font-weight:normal;}
.btn1:hover,.btn2:hover,.btn3:hover{ background-image:url(../img/h30bg2.png);}
.btn3{ height:40px; background:#2a2 repeat-x url(img/h30bg3.png);}
.btn3:hover{ background:#2a2 repeat-x url(img/h30bg.png); color:#fff;}
.btn2{ margin-left:2px; padding:2px;}
.btn2:hover{ background-color:#000; color:#2a2}
input[type=text],input[type=email],input[type=password],input[type=number],input[type=submit],select,textarea,.btnSub{ border:1px solid #2a2; color:#000; padding:2px; margin:1px; background-color:#fff; vertical-align:top;}
input[type=submit]:hover,.btnSub:hover{ border:1px solid #2a2; padding:2px; margin:1px; background-color:#2a2; border:1px solid #6f6;}
input[type=text],input[type=email],input[type=password],input[type=number],textarea,select{width:130px; margin:0px; padding:2px; }
select{width:136px;}
select.ara ,input.ara{width:90%;}
input.y90{ width:90%;}input.y96{ width:96%;}input.y98{ width:98%;}
select.y90{ width:90%;}select.y96{ width:96%;}select.y98{ width:98%;}
label,.dty{display:inline-block; background-color:#6f6; border:1px solid #fff; border-radius:4px; padding-right:4px;}label:hover{color:#dfd;}
.dty{ padding:3px; text-indent:20px; background:url(../img/dty.png) no-repeat;}

.pencere{ position:fixed; left:50%; top:30%; background-color:#6f6; padding:10px; border:1px solid #333;
-webkit-box-shadow: 0 0 9px 4px rgba(0,0,0,0.5); box-shadow: 0 0 9px 4px rgba(0,0,0,0.5); z-index:1;}
#pencereBg{position:fixed; left:0px; right:0px; top:0px; bottom:0px;}

.tr2 td,.rnk3{ background-color:#2c2;}

.indirMenu{ float:right;}
.indirMenu a{ background:url(../img/h30bg2.png); height:18px; display:inline-block; margin-top:2px; padding:4px 4px 2px 4px; border-left:1px solid #aaa;}
.indirMenu a:hover{ background:url(../img/h30bg.png);}

.btn{color:#222;}
.btn:hover{ background-color:#dfd;}